# Normalize line endings
* text=auto eol=lf

# Godot Asset Library / manual zip: ship only the addon, README and LICENSE.
/.github/       export-ignore
/demo/          export-ignore
/docs/          export-ignore
/site/          export-ignore
/tests/         export-ignore
/.gitattributes export-ignore
/.gitignore     export-ignore
/CHANGELOG.md   export-ignore
/SPEC.md        export-ignore
/project.godot  export-ignore

